body{
  background-color: rgba(141,166,80,1); /*background-color: linear-gradient(direction, color stop1, color stop2, ...);*/
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
}

.fixed-top-nav {
  overflow: hidden;
  top: 0;
  width: 100%;
  font-size: 30px;
  margin-top: 0; 
  background-color: #2e522a;
  box-shadow: 2px 11px 2px 1px rgb(0 0 0 / 20%);
}
#ulNav{
  list-style-type: none;
  color: white;
  display: flex;
  justify-content: end;
  padding: 0;
  text-decoration: none;
}
#liNav{
  float: right;
  padding: 25px;
  text-decoration: none;
  color: white;
}
#liNav:hover{
  background-color: #162c15;
}
.logo{
  
  height: 110px;
  position: absolute;
  bottom: 4;
  left: 30;
}

header{
  width: 100%;
  height: 450px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin: 0;
  background-color: #2e522a;
  padding: 90px 0 10px 0;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  animation: fade 1s ease-in-out;
  box-shadow: 2px 11px 2px 1px rgb(0 0 0 / 20%);
}
@keyframes slideIn{
  from {
    opacity: 0;
    transform: translateY(-20)
  }
  to { opacity: 1;
  transform: translateY(0);}
}
#meimg{
  margin: 100px 0px 0px 0px;
  
}
/* .wave-container{
  width: 100%;
} */
.logo{
  height: 110px;
  position: absolute;
  bottom: 0;
  left:30px
}
/* .waveHeader{
  display: flexbox;
  align-content: stretch;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  border: 2x solid black;
} */
.divIntro{
  color: #c9b98d;
  display: flex ;
  flex-direction: column;
  align-items: center;
  text-align:center ;
  width: 100%;
  padding: 0px 50px;
}
#hello{
  width: 300px;
  margin: -10px;
  font-size: 35px;
}
#name{
  font-size: 48px;
  text-align: center;
  animation: slideIn 2s ease-in-out;
}
footer {
  background: #2e522a;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
  padding-left: 33%;
}
  /* animation: reveal 7s infinite; */
  /* animation: slideIn 5s infinite; */



/* @keyframes slideIn {
  from {
      transform: translateY(-50px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  } 
}
/* @keyframes slidein {
  100% { margin-left: 0px;}
}
@keyframes showup{
 
  100% {opacity: 0;}
}
@keyframes reveal {

  100% {opacity: 1;width: 400px;}
} */
#introLine{
  font-size: 25px;
  padding: 0;
  margin-top: -10px;
}

/* nav{
  background-color: rgba(46,82,42,1);
  font-weight: 900;
  font-size: 25px;
  margin: -25px -5px -25px -20px; 

} */
/* .wave{
  display: block;
  position: relative;
  height: 150px;
  width: 100%;
  background: rgb(57,27,112);
  transform: scale(1, 1);
} 
/* .wave::before{
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: white;
  right: -25%;
  top: 20px;
} 
/* .wave::after{
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: rgb(57,27,112);
  left: -20%;
  top: -600%;
  clip-path: ellipse(100% 10% at -10% 100%);
} 
/* .wave{
  position: relative;
  width: 100%;
  height: 150px;
  background: rgb(57,27,112);
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
}
.wave::before{
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 150%;
  background-color: aqua;
  clip-path: ellipse(70% 35% at 50% 0%) 
} */
